<launch> 

	<!-- 
	二维码降落
	search_alt_：预定搜索高度
	markers_id_ ：ar_markers 二维码数字
    desire_pose_x、desire_pose_y、desire_pose_z：期望的飞机相对降落板的位置,当desire_pose_z小于0.3m时会自动降落
	PidXY_p：x,y方向p项系数
	PidXY_d：x,y方向d项系数
	PidXY_i：x,y方向i项系数
	PidZ_p：z方向p项系数
	PidZ_d：z方向d项系数
	PidZ_i：z方向i项系数
	PidYaw_p：yaw方向的p系数
	PidYaw_d：yaw方向的d系数
	PidYaw_i：yaw方向的i系数

	关于其中的yaw角度，yaw为0度的情况是：摄像头图像左上为"0"markers时
	desire_yaw_:弧度值
-->

  <arg name="world_path" default="$(find simulation)/worlds/landing_place.world" />


  <include file="$(find simulation)/launch/px4/camera_down_px4.launch">
    <arg name="world" value="$(arg world_path)" />
  </include>

  <include file="$(find ros_vision)/launch/ar_track_camera.launch" >
  </include>

  <include file="$(find px4_control)/launch/landing.launch" >
 	<arg name="search_alt_" value="3" />
 	<arg name="markers_id_" value="4" />
 	<arg name="desire_pose_x" value="0" />
 	<arg name="desire_pose_y" value="0" />
 	<arg name="desire_pose_z" value="1.5" />
 	<arg name="desire_yaw_" value="1.4" />
 	<arg name="PidXY_p" value="1" />
 	<arg name="PidXY_d" value="0.1" />
 	<arg name="PidXY_i" value="0.02" />
 	<arg name="PidZ_p" value="0.2" />
 	<arg name="PidZ_d" value="0.1" />
 	<arg name="PidZ_i" value="0" />
 	<arg name="PidYaw_p" value="0.1" />
 	<arg name="PidYaw_d" value="0" />
 	<arg name="PidYaw_i" value="0" />
  </include>

	<node pkg="simulation" type="keyboard_control_px4.py" name="keyboard_control_px4" output="screen" launch-prefix="gnome-terminal --tab -e">
    </node>

    <!-- rviz view /-->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find ros_vision)/config/ar_track_camera.rviz"/>

</launch>

