<launch> 

<!-- 
	使用moveit包对px4无人机进行路径规划，感谢：https://uenota.github.io/dronedoc/moveit/index.html
-->

  <arg name="world" default="$(find simulation)/worlds/house.world" />


  <include file="$(find simulation)/launch/px4/urdf_px4.launch">
    <arg name="world" value="$(arg world)" />
  </include>
    <!-- mavros -->
    <param name="/mavros/local_position/tf/send" type="bool" value="true" />
    <param name="/mavros/local_position/frame_id" type="str" value="base_link" />
    <param name="/mavros/local_position/tf/frame_id" type="str" value="map" />

    <!-- static tf from map to world which is base frame for planning -->
    <node pkg="tf" name="tf_world" type="static_transform_publisher" args="0 0 0 0 0 0 map world 100"/>
    <!-- publish tf to suppress warnings -->
    <node pkg="tf" name="map2odom" type="static_transform_publisher" args="0 0 0 0 0 0 map odom 100"/>

    <!-- Moveit -->
    <include file="$(find iris_moveit_config)/launch/move_group.launch" >
        <arg name="fake_execution" value="false" />
    </include>

    <node pkg="dronedoc" name="drone_controller" type="drone_controller" output="screen"/>

	<node pkg="simulation" type="keyboard_control_px4.py" name="keyboard_control_px4" output="screen" launch-prefix="gnome-terminal --tab -e">
    </node>

</launch>

